In [23]:
#dependencies
import pandas as pd
import numpy as np
import os

In [24]:
#Set path
uber_bike_path = os.path.join('uber_bike_data.csv')

#Read in csv file as dataframe
uber_df = pd.read_csv(uber_bike_path)

#List of columns
uber_df.values

/Users/danieltang/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

array([['431032', 1648, '8/29/2014 15:33', ..., 411, 'Subscriber',
        '94107'],
       ['383548', 617, '7/28/2014 17:35', ..., 259, 'Subscriber',
        '94403'],
       ['257887', 551, '4/22/2014 19:19', ..., 414, 'Subscriber',
        '94105'],
       ...,
       [324829, 1807, '6/15/2014 12:08', ..., 379, 'Customer', '94041'],
       [266083, 522, '4/30/2014 8:35', ..., 347, 'Subscriber', '94111'],
       [367598, 255, '7/17/2014 8:22', ..., 592, 'Subscriber', '94939']],
      dtype=object)

In [25]:
len(uber_df)

90231

In [26]:
uber_df.head(5)

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,431032,1648,8/29/2014 15:33,Steuart at Market,74,8/29/2014 16:00,San Francisco Caltrain (Townsend at 4th),70,411,Subscriber,94107
1,383548,617,7/28/2014 17:35,Steuart at Market,74,7/28/2014 17:45,San Francisco Caltrain (Townsend at 4th),70,259,Subscriber,94403
2,257887,551,4/22/2014 19:19,Post at Kearny,47,4/22/2014 19:28,South Van Ness at Market,66,414,Subscriber,94105
3,334581,327,6/22/2014 19:36,5th at Howard,57,6/22/2014 19:42,2nd at Folsom,62,553,Subscriber,94103
4,268757,382,5/1/2014 19:37,Clay at Battery,41,5/1/2014 19:44,Market at 4th,76,501,Subscriber,94612

In [27]:
#rename the columns and remove whitespaces
uber_df = uber_df.rename(columns={'Trip ID': 'trip_id', 'Duration': 'duration', 'Start Date': 'start_date', 
                                 'Start Station': 'start_station', 'Start Terminal': 'start_terminal', 
                                 'End Date': 'end_date', 'End Station': 'end_station', 'End Terminal': 'end_terminal',
                                 'Bike #': 'bike_num', 'Subscriber Type': 'subscriber_type', 'Zip Code': 'zip_code'})

In [28]:
uber_df.head(10)

,trip_id,duration,start_date,start_station,start_terminal,end_date,end_station,end_terminal,bike_num,subscriber_type,zip_code
0,431032,1648,8/29/2014 15:33,Steuart at Market,74,8/29/2014 16:00,San Francisco Caltrain (Townsend at 4th),70,411,Subscriber,94107
1,383548,617,7/28/2014 17:35,Steuart at Market,74,7/28/2014 17:45,San Francisco Caltrain (Townsend at 4th),70,259,Subscriber,94403
2,257887,551,4/22/2014 19:19,Post at Kearny,47,4/22/2014 19:28,South Van Ness at Market,66,414,Subscriber,94105
3,334581,327,6/22/2014 19:36,5th at Howard,57,6/22/2014 19:42,2nd at Folsom,62,553,Subscriber,94103
4,268757,382,5/1/2014 19:37,Clay at Battery,41,5/1/2014 19:44,Market at 4th,76,501,Subscriber,94612
5,363782,978,7/15/2014 7:45,San Francisco Caltrain (Townsend at 4th),70,7/15/2014 8:01,Embarcadero at Vallejo,48,420,Subscriber,94025
6,351995,1428,7/6/2014 13:25,Embarcadero at Vallejo,48,7/6/2014 13:49,Embarcadero at Vallejo,48,408,Subscriber,94103
7,367842,535,7/17/2014 9:28,Harry Bridges Plaza (Ferry Building),50,7/17/2014 9:37,2nd at Townsend,61,452,Subscriber,94579
8,278236,366,5/9/2014 13:51,Embarcadero at Folsom,51,5/9/2014 13:58,2nd at Townsend,61,336,Subscriber,94158
9,411290,766,8/16/2014 8:39,San Francisco Caltrain 2 (330 Townsend),69,8/16/2014 8:52,Powell Street BART,39,637,Subscriber,94102

In [29]:
uber_df.dtypes

trip_id            object
duration            int64
start_date         object
start_station      object
start_terminal      int64
end_date           object
end_station        object
end_terminal        int64
bike_num            int64
subscriber_type    object
zip_code           object
dtype: object

In [30]:
#convert start_date and end_date into date_time format
uber_df['start_date'] = pd.to_datetime(uber_df['start_date'])
uber_df['end_date'] = pd.to_datetime(uber_df['end_date'])

In [31]:
#add new columns extracting start_hour and end_hour
uber_df['start_hour'] = uber_df['start_date'].dt.hour
uber_df['end_hour'] = uber_df['end_date'].dt.hour

In [32]:
#add new columns extracting month
uber_df['start_month'] = uber_df['start_date'].dt.strftime('%b')
uber_df['end_month'] = uber_df['end_date'].dt.strftime('%b')

In [33]:
#add a new column that converts duration to Hour:Minute format
uber_df['duration_hour_min'] = pd.to_datetime(uber_df['duration'], unit='s').dt.strftime('%H:%M')

In [34]:
# uber_df = uber_df[uber_df.zip_code != 'nil']

In [35]:
len(uber_df)

90231

# Google Places API - Reverse Geocoding

In [36]:
#Set path
places_api_results = os.path.join('places_api_results.csv')

#Read in csv file as dataframe
geocoded_addresses_df = pd.read_csv(places_api_results)

#List first 5
geocoded_addresses_df.head(5)

#grab required columns
geocoded_addresses_df = geocoded_addresses_df[['input_string', 'neighborhood']]

In [37]:
#List first 5
geocoded_addresses_df.head(5)

                               input_string        neighborhood
0                         Steuart at Market         Embarcadero
1                            Post at Kearny                SoMa
2                             5th at Howard                SoMa
3                           Clay at Battery  Financial District
4  San Francisco Caltrain (Townsend at 4th)         Mission Bay

In [38]:
#Merge the geocoded addresses with uber_df to get start_neighborhood
uber_df_merge = uber_df.merge(geocoded_addresses_df, left_on='start_station', right_on='input_string', how='left')

In [39]:
uber_df_merge.head(10)

,trip_id,duration,start_date,start_station,start_terminal,end_date,end_station,end_terminal,bike_num,subscriber_type,zip_code,start_hour,end_hour,start_month,end_month,duration_hour_min,input_string,neighborhood
0,431032,1648,2014-08-29 15:33:00,Steuart at Market,74,2014-08-29 16:00:00,San Francisco Caltrain (Townsend at 4th),70,411,Subscriber,94107,15,16,Aug,Aug,00:27,Steuart at Market,Embarcadero
1,383548,617,2014-07-28 17:35:00,Steuart at Market,74,2014-07-28 17:45:00,San Francisco Caltrain (Townsend at 4th),70,259,Subscriber,94403,17,17,Jul,Jul,00:10,Steuart at Market,Embarcadero
2,257887,551,2014-04-22 19:19:00,Post at Kearny,47,2014-04-22 19:28:00,South Van Ness at Market,66,414,Subscriber,94105,19,19,Apr,Apr,00:09,Post at Kearny,SoMa
3,334581,327,2014-06-22 19:36:00,5th at Howard,57,2014-06-22 19:42:00,2nd at Folsom,62,553,Subscriber,94103,19,19,Jun,Jun,00:05,5th at Howard,SoMa
4,268757,382,2014-05-01 19:37:00,Clay at Battery,41,2014-05-01 19:44:00,Market at 4th,76,501,Subscriber,94612,19,19,May,May,00:06,Clay at Battery,Financial District
5,363782,978,2014-07-15 07:45:00,San Francisco Caltrain (Townsend at 4th),70,2014-07-15 08:01:00,Embarcadero at Vallejo,48,420,Subscriber,94025,7,8,Jul,Jul,00:16,San Francisco Caltrain (Townsend at 4th),Mission Bay
6,351995,1428,2014-07-06 13:25:00,Embarcadero at Vallejo,48,2014-07-06 13:49:00,Embarcadero at Vallejo,48,408,Subscriber,94103,13,13,Jul,Jul,00:23,Embarcadero at Vallejo,South Beach
7,367842,535,2014-07-17 09:28:00,Harry Bridges Plaza (Ferry Building),50,2014-07-17 09:37:00,2nd at Townsend,61,452,Subscriber,94579,9,9,Jul,Jul,00:08,Harry Bridges Plaza (Ferry Building),Embarcadero
8,278236,366,2014-05-09 13:51:00,Embarcadero at Folsom,51,2014-05-09 13:58:00,2nd at Townsend,61,336,Subscriber,94158,13,13,May,May,00:06,Embarcadero at Folsom,The East Cut
9,411290,766,2014-08-16 08:39:00,San Francisco Caltrain 2 (330 Townsend),69,2014-08-16 08:52:00,Powell Street BART,39,637,Subscriber,94102,8,8,Aug,Aug,00:12,San Francisco Caltrain 2 (330 Townsend),Mission Bay

In [40]:
#rename the joined neighborhood to start_neighborhood
uber_df_merge = uber_df_merge.rename(columns={'neighborhood':'start_neighborhood'})
uber_df_merge.head(5)

,trip_id,duration,start_date,start_station,start_terminal,end_date,end_station,end_terminal,bike_num,subscriber_type,zip_code,start_hour,end_hour,start_month,end_month,duration_hour_min,input_string,start_neighborhood
0,431032,1648,2014-08-29 15:33:00,Steuart at Market,74,2014-08-29 16:00:00,San Francisco Caltrain (Townsend at 4th),70,411,Subscriber,94107,15,16,Aug,Aug,00:27,Steuart at Market,Embarcadero
1,383548,617,2014-07-28 17:35:00,Steuart at Market,74,2014-07-28 17:45:00,San Francisco Caltrain (Townsend at 4th),70,259,Subscriber,94403,17,17,Jul,Jul,00:10,Steuart at Market,Embarcadero
2,257887,551,2014-04-22 19:19:00,Post at Kearny,47,2014-04-22 19:28:00,South Van Ness at Market,66,414,Subscriber,94105,19,19,Apr,Apr,00:09,Post at Kearny,SoMa
3,334581,327,2014-06-22 19:36:00,5th at Howard,57,2014-06-22 19:42:00,2nd at Folsom,62,553,Subscriber,94103,19,19,Jun,Jun,00:05,5th at Howard,SoMa
4,268757,382,2014-05-01 19:37:00,Clay at Battery,41,2014-05-01 19:44:00,Market at 4th,76,501,Subscriber,94612,19,19,May,May,00:06,Clay at Battery,Financial District

In [41]:
#Merge the geocoded addresses with uber_df to get end_neighborhood
uber_df_merge = uber_df_merge.merge(geocoded_addresses_df, left_on='end_station', right_on='input_string', how='left')
uber_df_merge = uber_df_merge.rename(columns={'neighborhood':'end_neighborhood'})
uber_df_merge.head(5)

,trip_id,duration,start_date,start_station,start_terminal,end_date,end_station,end_terminal,bike_num,subscriber_type,zip_code,start_hour,end_hour,start_month,end_month,duration_hour_min,input_string_x,start_neighborhood,input_string_y,end_neighborhood
0,431032,1648,2014-08-29 15:33:00,Steuart at Market,74,2014-08-29 16:00:00,San Francisco Caltrain (Townsend at 4th),70,411,Subscriber,94107,15,16,Aug,Aug,00:27,Steuart at Market,Embarcadero,San Francisco Caltrain (Townsend at 4th),Mission Bay
1,383548,617,2014-07-28 17:35:00,Steuart at Market,74,2014-07-28 17:45:00,San Francisco Caltrain (Townsend at 4th),70,259,Subscriber,94403,17,17,Jul,Jul,00:10,Steuart at Market,Embarcadero,San Francisco Caltrain (Townsend at 4th),Mission Bay
2,257887,551,2014-04-22 19:19:00,Post at Kearny,47,2014-04-22 19:28:00,South Van Ness at Market,66,414,Subscriber,94105,19,19,Apr,Apr,00:09,Post at Kearny,SoMa,South Van Ness at Market,SoMa
3,334581,327,2014-06-22 19:36:00,5th at Howard,57,2014-06-22 19:42:00,2nd at Folsom,62,553,Subscriber,94103,19,19,Jun,Jun,00:05,5th at Howard,SoMa,2nd at Folsom,The East Cut
4,268757,382,2014-05-01 19:37:00,Clay at Battery,41,2014-05-01 19:44:00,Market at 4th,76,501,Subscriber,94612,19,19,May,May,00:06,Clay at Battery,Financial District,Market at 4th,SoMa

In [42]:
final_df = uber_df_merge[['trip_id', 'duration', 'duration_hour_min', 'start_date', 'start_month', 'start_hour', 'start_station', 'start_neighborhood', 'start_terminal',
                         'end_date', 'end_month', 'end_hour', 'end_station', 'end_neighborhood', 'end_terminal', 'bike_num', 'subscriber_type', 'zip_code', 
                         ]]

final_df.head(5)

,trip_id,duration,duration_hour_min,start_date,start_month,start_hour,start_station,start_neighborhood,start_terminal,end_date,end_month,end_hour,end_station,end_neighborhood,end_terminal,bike_num,subscriber_type,zip_code
0,431032,1648,00:27,2014-08-29 15:33:00,Aug,15,Steuart at Market,Embarcadero,74,2014-08-29 16:00:00,Aug,16,San Francisco Caltrain (Townsend at 4th),Mission Bay,70,411,Subscriber,94107
1,383548,617,00:10,2014-07-28 17:35:00,Jul,17,Steuart at Market,Embarcadero,74,2014-07-28 17:45:00,Jul,17,San Francisco Caltrain (Townsend at 4th),Mission Bay,70,259,Subscriber,94403
2,257887,551,00:09,2014-04-22 19:19:00,Apr,19,Post at Kearny,SoMa,47,2014-04-22 19:28:00,Apr,19,South Van Ness at Market,SoMa,66,414,Subscriber,94105
3,334581,327,00:05,2014-06-22 19:36:00,Jun,19,5th at Howard,SoMa,57,2014-06-22 19:42:00,Jun,19,2nd at Folsom,The East Cut,62,553,Subscriber,94103
4,268757,382,00:06,2014-05-01 19:37:00,May,19,Clay at Battery,Financial District,41,2014-05-01 19:44:00,May,19,Market at 4th,SoMa,76,501,Subscriber,94612

In [43]:
#Export final dataset to csv
# path = os.path.join('Cleaned Datasets', 'cleaned_registered_food_services.csv')
final_df.to_csv('cleaned_uber_data.csv',index=False)